{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>i定制平台</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fashion Mania Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <link href="{% static 'css/memenu.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'js/memenu.js' %}"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <script src="{% static 'js/simpleCart.min.js' %}"> </script>
    <!-- slide -->
    <script src="{% static 'js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true
            });
        });
    </script>
</head>
<body>
<!--header-->
<div class="header">
<div class="header-top">
    <div class="container">
        <div class="col-sm-4 world">
        </div>
        <div class="col-sm-4 logo">
            <a href="index.html"><img src="{% static 'images/logo.jpg' %}" alt=""></a>
        </div>

        <div class="col-sm-4 header-left">
            {% if not request.user.is_authenticated %}
                <p class="log"><a href="{% url 'login' %}"  >登录</a>
                <span>|</span>
                <a  href="{% url 'register' %}"  >注册</a></p>
            {% else %}
                <p class="log"><a href="#"  >{{ request.user.username }}</a>
                <span>|</span>
                <a  href="{% url 'logout' %}"  >退出</a></p>
            {% endif %}
            <div class="cart box_1">
                <a href="{% url 'view_cart' %}">
                    <h3>
                        <div class="total">
                            {% if request.user.is_authenticated %}
                                {% if cart.total_price %}
                                    <span>{{ cart.total_price }}元</span>
                                {% else %}
                                    <span>0.0元</span>
                                {% endif %}
                            {% else %}
                                <span>0.0元</span>
                            {% endif %}
                        </div>
                        <img src="{% static 'images/cart.jpg' %}" alt=""/></h3>
                </a>
                <p><a href="{% url 'clean_cart' %}" class="simpleCart_empty">清空订单</a></p>

            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="container">
    <div class="head-top">
        <div class="col-sm-2 number">
        </div>
        <div class="col-sm-8 h_menu4">
            <ul class="memenu skyblue">
                <li class=" grid"><a  href="{% url 'index' %}">首页</a></li>
                <li><a  href="#">传统工艺品</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>剪纸</h4>
                                    <ul>
                                        {% for ca in category_list_m %}
                                            {% if ca.typ == '剪纸' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>木雕</h4>
                                    <ul>
                                        {% for ca in category_list_m %}
                                            {% if ca.typ == '木雕' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>瓷器</h4>
                                    <ul>
                                        {% for ca in category_list_m %}
                                            {% if ca.typ == '瓷器' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>国画</h4>
                                    <ul>
                                        {% for ca in category_list_m %}
                                            {% if ca.typ == '国画' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a  href="#">现代工艺品</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>雕塑</h4>
                                    <ul>
                                        {% for ca in category_list_m %}
                                            {% if ca.typ == '雕塑' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>油画</h4>
                                    <ul>
                                        {% for ca in category_list_m %}
                                            {% if ca.typ == '油画' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>摆件</h4>
                                    <ul>
                                        {% for ca in category_list_m %}
                                            {% if ca.typ == '摆件' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="grid"><a  href="#">	其他工艺品</a>
                    <div class="mepanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>手办</h4>
                                    <ul>
                                        {% for ca in category_list_f %}
                                            {% if ca.typ == '手办' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>周边</h4>
                                    <ul>
                                        {% for ca in category_list_f %}
                                            {% if ca.typ == '周边' %}
                                                <li><a href="{% url 'products' %}?cid={{ ca.id }}">{{ ca.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!---pop-up-box---->
{#        <script type="text/javascript" src="js/modernizr.custom.min.js"></script>#}
        <link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
        <script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
        <!---//pop-up-box---->
        <script>
            $(document).ready(function() {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
        </script>
        <!---->
    </div>
</div>
</div>
<!--banner-->
{% block banner_block %}{% endblock %}
<!--//banner-->
<!--content-->
{% block content_block %}{% endblock %}
<!--//content-->
<!--footer-->
<div class="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="clearfix"> </div>
            <p class="footer-class">【用心创造快乐，没钱看得开心】<a target="_blank" href="https://github.com/ZhangYaojun/i-Design.git">第五组</a></p>
        </div>
    </div>
</div>
<!--//footer-->
</body>
</html>